<?php
$mysql_server="@server@";
$mysql_username="@mysqlname@";
$mysql_userpass="@mysqlpass@";
$mysql_select_db="@mysqldb@";
$config=mysql_connect($mysql_server,$mysql_username,$mysql_userpass)or die ("Error code AX000001");
$db=mysql_select_db($mysql_select_db)or die ("Error code AX000002");
mysql_query("set names gbk");
?>